.job h1{
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    color: #FFFFFF;
}
.job__info{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    max-width: 1238px;
    gap: 82px;
}
.job__info h2{
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    margin: 62px 0px 30px;
}
.job__info p{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
    max-width: 358px;
}
.job{
    margin-top: 200px;
}