/* body{
    font-family: "Roboto";
}
.button-rounded{
    padding: 10px 30px;
    border-radius: 50px;
    color: white;
    font-size: 16px;
    line-height: 24px;
}
.intro{
    padding: 40px 80px;
    background-image: url(img/background.png);
}
.intro nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__links{
    display: flex;
    gap: 56px;
    color: white;
}
nav .button-rounded{
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.intro__title h1{
    color: white;
    font-size: 64px;
    line-height: 90px;
    max-width: 920px;
    font-weight: 700;
}
.intro__title{
    margin: 190px 0 218px 232px;
}
.intro__title h1{
    text-align: left;
    margin-bottom: 50px;
} */


/* .time-square{
    background: #121212;
    text-align: center;
    padding: 20px 30px;
    margin-top: 50px;
}
.time-square h2{
    color: white;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
}
.time-square p{
    font-size: 16px;
    color: white;
    opacity: 0.4;
} */


/* .progress{
    display: flex;
    align-items: center;
    gap: 81px;
    background-color: #121212;
    padding-left: 312px;
    height: 130px;
}
.progress .button-rounded{
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}
.progress__info{
    width: 250px;
}
.progress__info p{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: white;
}
.progress__info p span:first-child{
    font-size: 16px;
    color: white;
    opacity: 0.4;
}
.progress__info p:first-child{
    margin-bottom: 10px;
}
.progress__line p{
    display: flex;
    justify-content: space-between;
    width: 280px;
    font-size: 16px;
    color: white;
}
.progress__line p span:first-child{
    opacity: 0.4;
}
.progress__line .progress__line__values{
    width: 715px;
}
.progress__line .progress__line__values span:last-child{
    opacity: 0.4;
}
.progress__line progress{
    margin: 8px 0 5px;
} */
.intro{
    padding: 40px 80px;
    background-image: url(img/background.png);
    background-size: cover;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 1920px;
    height: 5620px; */
    background-size: 20px 20px;
    background-color: black;
    background-image:
      linear-gradient(to right, 	#181818 1px, transparent 1px),
      linear-gradient(to bottom, 	#181818 1px, transparent 1px);
}
