.wrapper1{
    width: 800px;
    /* background-color: rgb(32, 32, 32); */
    color: rgba(255, 255, 255, .4);
}
.line{
    height: 6px;
    background: white;
    width: 100%;
}
.line__progress{
    height: 100%;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}
.bottom{
    display: flex;
    justify-content:space-between;
}
.header{
    text-align: left;
}
.header span{
    margin-left: 30px;
    color: aliceblue;
    font-weight: 800px;
}
